body {
    font-family: 'Bodoni Moda SC', serif;
    background: linear-gradient(135deg, #363434ca, #000000d1);
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.page-container {
    display: flex;
    gap: 100px;
}

.left-half {
    flex: 1;
}

.right-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container1 {
    background: rgba(235, 231, 231, 0.864);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(18, 3, 20, 0.948);
    height: 660px;
    width: 500px;
    left: 25%;
    position: relative; /* Position relative for absolute positioning inside */
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ddd;
    position:relative;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #ccc;
}

.container {
    background: rgba(235, 231, 231, 0.864);
    padding: 20px;
    width: 450px;
    height: 250px;
    margin-top:5%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(18, 3, 20, 0.948);
}

h1 {
    text-align: center;
    margin-top: 150px; /* To ensure the title appears below the profile image */
}
